@charset 'utf-8';
body{color:#666; background-color:#333;font: 12px/1.5 '΢���ź�',tahoma,arial,'Hiragino Sans GB',����,sans-serif;}
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix {zoom:1;}

.poster-main{position: relative;width: 900px;height: 270px;margin:20px auto;}
.poster-main a,.poster-main img{display:block;}
.poster-main .poster-list{width: 900px;height: 270px}
.poster-main .poster-list .poster-item{position: absolute;left: 0px;top: 0px}
.poster-main .poster-btn{position: absolute;height: 100%;width:100px;top: 0px;z-index: 10;opacity: 0.3;cursor:pointer;}
.poster-main .poster-btn:hover{opacity: 1;}
.poster-main .poster-prev-btn{left: 0px;background: url("../images/btn_l.png") no-repeat center center; }
.poster-main .poster-next-btn{right: 0px;background: url("../images/btn_r.png") no-repeat center center;}